@media(max-width:992px){

    .chef-container{

        grid-template-columns:1fr;

        text-align:center;

    }

    .chef-content ul{

        padding-left:0;

    }

}

@media(max-width:768px){

    .gallery-feature img{

        height:300px;

    }

    .gallery-grid{

        grid-template-columns:1fr;

    }

    .gallery-grid img{

        height:250px;

    }

}